*{
    margin: 0;
}

.contenedor{
    background: url("imagen/1b876f56-4eac-43e5-869d-708b93f627b1.jpg") no-repeat
    center;
    width: 100vw;
    height: fit-content;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 4%;
    color: black;
}

button{
    font-size: xx-large;
    padding: 0.1sem;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}
